In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
game_path= "Resources/games.grivg.csv"
character_path= "Resources/characters.grivg.csv"
sexualization_path= "Resources/sexualization.grivg.csv"

In [3]:
game=pd.read_csv(game_path)
character=pd.read_csv(character_path)
sexualization=pd.read_csv(sexualization_path)

In [4]:
game.head ()

,Game_Id,Title,Release,Series,Genre,Sub-genre,Developer,Publisher,Country,Platform,...,Director,Total_team,female_team,Team_percentage,Metacritic,Destructoid,IGN,GameSpot,Avg_Reviews,Unnamed: 27
0,GTAV,Grand Theft Auto V,Nov-13,GTA,Action-adventure,Action-adventure,Rockstar North,Rockstar Games,GBR,Multi,...,M,7,0,0%,9.7,9.0,10.0,9.0,9.4,NaN
1,PSS,Pokémon Sword/Shield,Nov-19,Pokémon,RPG,RPG,Game Freak,Nintendo,JPN,Nintendo Switch,...,M,9,1,11%,8.0,7.0,9.3,9.0,8.3,NaN
2,CODMW,Call of Duty: Modern Warfare,Oct-19,Call of Duty,Action,FPS,Infinity Ward,Activision,USA,Multi,...,M,11,0,0%,8.0,8.0,8.0,7.0,7.8,NaN
3,RDR2,Red Dead Redemption 2,Dec-18,Red Dead,Action-adventure,Action-adventure,Rockstar Studios,Rockstar Games,USA,Multi,...,M,7,0,0%,9.7,9.5,10.0,9.0,9.6,NaN
4,SMO,Super Mario Odyssey,Oct-17,Super Mario,Action-adventure,Action-adventure,Nintendo EDP,Nintendo,JPN,Nintendo Switch,...,M,11,1,9%,9.7,9.5,10.0,10.0,9.8,NaN

In [5]:
character.head ()

,Name,Gender,Game,Age,Age_range,Playable,Sexualization,Id,Species,Side,Relevance,Romantic_Interest
0,Farah,Female,CODMW,27,Adult,1,0,CODMW_Farah,Human,P,PA,No
1,Protagonist,Custom,PSS,Teenager,Teenager,1,0,PSS_Protagonist,Human,P,PA,No
2,Magnolia,Female,PSS,Elderly,Elderly,0,0,PSS_Magnolia,Human,P,SC,No
3,Sonia,Female,PSS,26,Adult,0,0,PSS_Sonia,Human,P,SC,No
4,Marnie,Female,PSS,Teenager,Teenager,0,0,PSS_Marnie,Human,B,MC,No

In [6]:
sexualization.head ()

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0

In [7]:
game.info ()
#need to adjust data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Game_Id               64 non-null     object
 1   Title                 64 non-null     object
 2   Release               64 non-null     object
 3   Series                27 non-null     object
 4   Genre                 64 non-null     object
 5   Sub-genre             64 non-null     object
 6   Developer             64 non-null     object
 7   Publisher             64 non-null     object
 8   Country               64 non-null     object
 9   Platform              64 non-null     object
 10  PEGI                  64 non-null     int64
 11  Customizable_main     64 non-null     object
 12  Protagonist           64 non-null     int64
 13  Protagonist_Non_Male  64 non-null     int64
 14  Relevant_males        64 non-null     int64
 15  Relevant_no_males     64 non-null     int64
 16  Percentage_non_male   64 non-null     object
 17  Criteria              64 non-null     object
 18  Director              64 non-null     object
 19  Total_team            64 non-null     int64
 20  female_team           64 non-null     int64
 21  Team_percentage       64 non-null     object
 22  Metacritic            64 non-null     float64
 23  Destructoid           57 non-null     float64
 24  IGN                   62 non-null     float64
 25  GameSpot              62 non-null     float64
 26  Avg_Reviews           64 non-null     float64
 27  Unnamed: 27           0 non-null      float64
dtypes: float64(6), int64(7), object(15)
memory usage: 14.1+ KB

In [8]:
character.info ()
#adjust data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               637 non-null    object
 1   Gender             637 non-null    object
 2   Game               637 non-null    object
 3   Age                637 non-null    object
 4   Age_range          637 non-null    object
 5   Playable           637 non-null    int64
 6   Sexualization      637 non-null    int64
 7   Id                 637 non-null    object
 8   Species            637 non-null    object
 9   Side               637 non-null    object
 10  Relevance          637 non-null    object
 11  Romantic_Interest  637 non-null    object
dtypes: int64(2), object(10)
memory usage: 59.8+ KB

In [9]:
sexualization.info ()
#adjust data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    637 non-null    object
 1   Sexualized_clothing   637 non-null    int64
 2   Trophy                637 non-null    int64
 3   Damsel in Distress    637 non-null    int64
 4   Sexualized Cutscenes  637 non-null    int64
 5   Total                 637 non-null    int64
dtypes: int64(5), object(1)
memory usage: 30.0+ KB